<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 파라미터로 빈 값 보낼 때 null값으로 받는 세팅-->
		<setting name="jdbcTypeForNull" value="NULL" />
		
	</settings>
	<typeAliases>
		<package name="com.yedam.java"/>
	</typeAliases>
</configuration>